################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/backend/WepApi/.vs/ProjectEvaluation/wepapi.metadata.v9.bin
/backend/WepApi/.vs/ProjectEvaluation/wepapi.projects.v9.bin
/backend/WepApi/.vs/ProjectEvaluation/wepapi.strings.v9.bin
/backend/WepApi/.vs/WepApi/FileContentIndex/599a1954-af87-43a7-a569-1a960ba4f094.vsidx
/backend/WepApi/.vs/WepApi/FileContentIndex/a4974959-4a92-41f1-b1a5-fc220baa508d.vsidx
*.vsidx
/backend/WepApi/.vs/WepApi/FileContentIndex/eef51f3d-d068-42d2-b1f9-325a2d3dc5af.vsidx
/backend/WepApi/.vs/WepApi/FileContentIndex/e2f0eae2-0d1f-44e8-a019-42959ee3b649.vsidx
/backend/WepApi/.vs/WepApi/FileContentIndex/701212e5-c76f-40e7-8c9a-0bf3308f328d.vsidx
/backend/WepApi/.vs/WepApi/v17/DocumentLayout.backup.json
/backend/WepApi/obj/Debug/net8.0/ref/WepApi.dll
/backend/WepApi/obj/Debug/net8.0/refint/WepApi.dll
/backend/WepApi/.vs/WepApi/v17/DocumentLayout.json
/backend/WepApi/.vs/WepApi/v17/.suo
/backend/WepApi/bin/Debug/net8.0/WepApi.dll
/backend/WepApi/bin/Debug/net8.0/WepApi.exe
/backend/WepApi/bin/Debug/net8.0/WepApi.pdb
/backend/WepApi/obj/Debug/net8.0/apphost.exe
/backend/WepApi/obj/Debug/net8.0/WepApi.AssemblyInfo.cs
/backend/WepApi/obj/Debug/net8.0/WepApi.AssemblyInfoInputs.cache
/backend/WepApi/obj/Debug/net8.0/WepApi.assets.cache
/backend/WepApi/obj/Debug/net8.0/WepApi.csproj.AssemblyReference.cache
/backend/WepApi/obj/Debug/net8.0/WepApi.csproj.FileListAbsolute.txt
/backend/WepApi/obj/Debug/net8.0/WepApi.GeneratedMSBuildEditorConfig.editorconfig
/backend/WepApi/obj/Debug/net8.0/WepApi.csproj.CoreCompileInputs.cache
/backend/WepApi/obj/Debug/net8.0/WepApi.genruntimeconfig.cache
*.json
/backend/WepApi/obj/Debug/net8.0/WepApi.pdb
/backend/WepApi/obj/Debug/net8.0/WepApi.dll
/backend/WepApi/obj/project.assets.json
/backend/WepApi/obj/project.nuget.cache
/backend/WepApi/obj/WepApi.csproj.nuget.dgspec.json
/backend/WepApi/obj/WepApi.csproj.nuget.g.props
